<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{asserts/css/advance.css}"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <!--    Bootstrap card serving as the main UI of the calculator-->
    <div class="calculator card text-right">
        <!--        card header-->
        <div class="card-header " style="color: #fff">
            ETERNITY CALCULATOR
        </div>
        <!--        card body-->
        <div class="card-body  ml=20px mr=20px">
            <!--    HTML form connecting the front-end UI to the back-end-->
            <form th:action="@{/}" method = "post" onsubmit="return validateForm()">
                <!--                below are ports connecting to the backend. -->
                <!--                their values are dynamically assigned by JavaScript and sent to back-end for processing. -->
                <input type="text" name = "operand1" value ="" id="op1" hidden/>
                <input type="text" name ="operator" value = "" id="op" hidden>
                <input type="text" name  ="operand2" value = "" id="op2" hidden>
                <input type="text" name ="operand3" value="" id="op3" hidden>
                <h3 id="error" hidden>[[${error}]]</h3>

                <!--                Bootstrap grid system is used to arrange buttons' layout -->
                <div class="container-fluid">
                    <!--                    1st row with 1 column-->
                    <div class="row">
                            <div class="col-12">
                                <!----------------------calculator screen---------------------------------->
                                <input type="text" class="calculator-screen z-depth-1" th:value = "${value}"  id="screen" disabled />
                            </div>
                    </div>
                    <!--                    2nd row with 4 columns-->
                    <div class="row ">
                        <!--                        button pi-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" class="operator btn function special-operator" value="pi" id="pi">pi</button>
                        </div>
                        <!--                        button e-->
                        <div class="col-3 d-flex justify-content-center ">
                            <button type="button" class="operator btn function special-operator" value="e" id="e">e</button>
                        </div>
                        <!--                        button e^x-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="submit" class="operator btn special-operator function" value="exp" id="exp">e<sup>x</sup></button>
                        </div>
                        <!--                        button 10^x-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="submit" class="operator btn special-operator function" value="exp10" id="exp10" >10<sup>x</sup></button>
                        </div>

                    </div>
                    <!--                    3rd row with 4 columns-->
                    <div class="row" id="separator">
                        <!--                        button x^y-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" class="operator btn special-operator function" value="pow" id="pow">x<sup>y</sup></button>
                        </div>
                        <!--                        button log-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="submit" class="operator btn special-operator function" value="log" id="log">log</button>
                        </div>
                        <!--                        button sin-->
                        <div class="col-3 d-flex justify-content-center ">
                            <button type="submit" class="operator btn special-operator function" value="sin" id="sin">sin</button>
                        </div>
                        <!--                        button sinh-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="submit" class="operator btn special-operator function" value="sinh" id="sinh">sinh</button>
                        </div>

                    </div>
                    <!--                    4th row with 4 columns-->
                    <div class="row">
                        <!--                        button MR-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" value="mr" class="btn" id="mr">mr</button>
                        </div>
                        <!--                        button MS-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" value="ms" class="btn" id="ms">ms</button>
                        </div>
                        <!--                        button AC-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" class="all-clear btn" value="all-clear" id="ac">ac</button>
                        </div>
                        <!--                        button divide-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" class="divide operator basic-operator btn " value="/" id="divide">&#247</button>
                        </div>

                    </div>
                    <!--                    5th row with 4 columns-->
                    <div class="row">
                        <!--                        button "7"-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" value="7" class="btn" id="seven">7</button>
                        </div>
                        <!--                        button "8"-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" value="8" class="btn" id="eight">8</button>
                        </div>
                        <!--                        button "9"-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" value="9" class="btn" id="nine">9</button>
                        </div>
                        <!--                        button multiply-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" class="multiply operator basic-operator btn " value="*" id="multiply">&#215</button>
                        </div>
                    </div>
                    <!--                    6th row with 4 columns-->
                    <div class="row">
                        <!--                        button "4"-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" value="4" class="btn" id="four">4</button>
                        </div>
                        <!--                        button "5"-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" value="5" class="btn" id="five">5</button>
                        </div>
                        <!--                        button "6"-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" value="6" class="btn" id="six">6</button>
                        </div>
                        <!--                        button minus-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" class="minus operator basic-operator btn " value="-" id="minus">-</button>
                        </div>
                    </div>
                    <!--                    7th row with 4 columns-->
                    <div class="row">
                        <!--                        button "1"-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" value="1" class="btn" id="one">1</button>
                        </div>
                        <!--                        button "2"-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" value="2" class="btn" id="two">2</button>
                        </div>
                        <!--                        button "3"-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" value="3" class="btn" id="three">3</button>
                        </div>
                        <!--                        button plus-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" class="plus operator basic-operator btn " value="+" id="plus">+</button>
                        </div>
                    </div>
                    <!--                    8th row with 4 columns-->
                    <div class="row">
                        <!--                        button "0"-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" value="0" class="btn" id="zero">0</button>
                        </div>
                        <!--                        button dot-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" class="decimal btn" value="." id="dot">.</button>
                        </div>
                        <!--                        button (-)-->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="button" class=" btn" value="neg" id="neg">(-)</button>
                        </div>
                        <!--                        button equal -->
                        <div class="col-3 d-flex justify-content-center">
                            <button type="submit" style="" class="equal operator basic-operator btn " value="=" id="equal">=</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <!--        card footer-->
        <div class="card-footer">
            <footer class="blockquote-footer justify-content-right">Calculator by <cite title="">Team L</cite></footer>
        </div>
    </div>
    <script type="text/javascript" th:src="@{js/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}" ></script>
    <script type="text/javascript" th:src="@{asserts/js/advance.js}"></script>
</body>
</html>



